<!DOCTYPE html>
<html>
    <head>
        <title>Validate Policy Criteria</title>
    </head>
    <body>
        <h1>Validate Policy Criteria</h1>
        <form method="post" action="/validate-policy-criteria/">
            <ul>
                <li>
                    <label>Sum Assured:</label>
                    <input type="number" name="sum_assured" />
                </li>
                <li>
                    <label>Age:</label>
                    <input type="number" name="age" />
                </li>
                <li>
                    <label>Annual Income:</label>
                    <input type="number" name="annual_income" />
                </li>
                <li>
                    <label>OTP:</label>
                    <input type="number" name="otp" />
                </li>
                <li>
                    <input type="submit" value="Submit" />
                </li>
            </ul>
        </form>
    </body>
</html>